h1 {
    color: red;
    font-size: 25px;
}

p { color: blue;

}

.p {
    color: rgb(86, 140, 6);
}

span {
    color: black;
}

.one {
    color: blueviolet;
}


.whu {
    color: orange;
}

.footer {
    color: rgb(175, 104, 4);
}
